<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equive="X-UA-Compatible" content="ie=edge">
  <title> DOCUMENT </title>
</head>

<body>
  <h1> Verifikasi OTP </h1>
  <p> Nama: {{newUser.nama}} Kode Verifikasi kamu adalah {{otpCode}} </p>
</body>

</html>